.container {
  max-width: 1470px;
}
body {
  font-family: Roboto;
}
.migvapor-step-container {
  background-color: #f3f4f1;
  color: #818385;
}
.migvapor-step-container .nav-tabs {
  border: 0;
}
.migvapor-step-container .wizard {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 50px 50px 50px 80px;
  position: relative;
}
.block-title .title {
  color: #2d2e2e;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 600;
}
.block-title .subtitle {
  color: #2d2e2e;
  display: inline-block;
  font-size: 15px;
  margin-top: 20px;
}
.block-title .subtitle a {
  color: #12bf0f;
}
#step1 .main-block {
  margin-top: 100px;
}
#step1 .main-block.first {
  border-right: 1px solid #d0d0d0;
}
#step1 .main-block .bottle-size .subblock-title {
  color: #2d2e2e;
  font-size: 18px;
  font-weight: 600;
}
#step1 .main-block .bottle-size .subblock-title .green {
  color: #12bf0f;
}
#step1 .main-block .bottle-size .subblock-content .size-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 170px;
  padding-right: 100px;
}
#step1 .main-block .bottle-size .subblock-content .size-wrap .choose {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  cursor: pointer;
  padding: 40px 30px;
  position: relative;
  transition: 0.25s;
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose.small
  .img-wrapper {
  top: -60px;
  width: 60px;
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose.medium
  .img-wrapper {
  top: -120px;
  width: 60px;
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose.large
  .img-wrapper {
  top: -165px;
  width: 75px;
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose
  .img-wrapper {
  position: absolute;
  text-align: center;
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose.small
  .img-wrapper
  .preview-img.loaded {
  background-image: none;
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose.small
  .img-wrapper
  .preview-img {
  height: auto;
  width: 37px;
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose.medium
  .img-wrapper
  .preview-img {
  height: auto;
  width: 58px;
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose.large
  .img-wrapper
  .preview-img {
  height: auto;
  width: 75px;
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose
  .img-wrapper
  .colored-img {
  display: none;
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose.selected
  .img-wrapper
  .colored-img {
  display: inline-block;
}
#step1 .main-block .bottle-size .subblock-content .size-wrap .choose.selected {
  background-color: #12bf0f;
  border: 1px solid #12bf0f;
  box-shadow: 0 5px 10px 0 rgb(18 191 15 / 50%);
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose.selected
  .img-wrapper
  .preview-img {
  display: none;
}
#step1 .main-block .bottle-size .subblock-content .size-wrap .choose .info {
  margin-top: 20px;
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose
  .info
  .value {
  color: #2d2e2e;
  font-family: Roboto;
  font-weight: 600;
  font-size: 28px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose.selected
  .info
  .value,
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose.selected
  .info
  .text,
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose.selected
  .price {
  color: #ffffff;
}
#step1
  .main-block
  .bottle-size
  .subblock-content
  .size-wrap
  .choose
  .info
  .text {
  color: #2d2e2e;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#step1 .main-block .bottle-size .subblock-content .size-wrap .choose .price {
  color: #12bf0f;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#step1 .main-block .bottle-size .subblock-content .notice {
  display: inline-block;
  font-size: 13px;
  margin-top: 30px;
}
#step1 .main-block .vg-level {
  display: flex;
  opacity: 0.45;
  padding-left: 70px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  pointer-events: none;
}
#step1 .main-block .vg-level.can-choose {
  opacity: 1;
  pointer-events: initial;
}
#step1 .main-block .vg-level .title-wrap {
  flex: 0 0 235px;
}
#step1 .main-block .vg-level .title-wrap .subblock-title {
  color: #2d2e2e;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
}
#step1 .main-block .vg-level .title-wrap .notice {
  display: inline-block;
  font-size: 13px;
  margin-left: 20px;
  margin-top: 15px;
}
#step1 .main-block .vg-level.can-choose .subblock-title .green {
  color: #12bf0f;
}
#step1 .main-block .vg-level .title-wrap .subblock-title .indent {
  margin-left: 20px;
}
#step1 .main-block .vg-level .content-wrap .subblock-content .vg-wrap {
  display: flex;
  margin-left: 50px;
}
#step1
  .main-block
  .vg-level
  .content-wrap
  .subblock-content
  .vg-wrap
  .vg-item
  .choose {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#step1
  .main-block
  .vg-level
  .content-wrap
  .subblock-content
  .vg-wrap
  .vg-item
  .choose:first-of-type {
  margin-right: 10px;
}
#step1
  .main-block
  .vg-level
  .content-wrap
  .subblock-content
  .vg-wrap
  .vg-item
  .choose.selected {
  background-color: #12bf0f;
  border: 1px solid #12bf0f;
  box-shadow: 0 5px 10px 0 rgb(18 191 15 / 50%);
}
#step1
  .main-block
  .vg-level
  .content-wrap
  .subblock-content
  .vg-wrap
  .vg-item
  .choose.selected
  .info
  .value {
  color: #fff;
}
#step1
  .main-block
  .vg-level
  .content-wrap
  .subblock-content
  .vg-wrap
  .vg-item
  .choose
  .info
  .value {
  color: #2d2e2e;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 600;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#step1
  .main-block
  .vg-level
  .content-wrap
  .subblock-content
  .vg-wrap
  .vg-item
  .choose
  .info
  .text {
  color: #2d2e2e;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#step1
  .main-block
  .vg-level
  .content-wrap
  .subblock-content
  .vg-wrap
  .vg-item
  .choose.selected
  .info
  .text {
  color: #fff;
}
#step1 .main-block .nicotine-level.can-choose {
  opacity: 1;
  pointer-events: initial;
}
#step1 .main-block .nicotine-level {
  display: flex;
  margin-top: 110px;
  opacity: 0.45;
  padding-left: 70px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  pointer-events: none;
}
#step1 .main-block .nicotine-level .title-wrap {
  flex: 0 0 235px;
}
#step1 .main-block .nicotine-level .title-wrap .subblock-title {
  color: #2d2e2e;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
}
#step1 .main-block .nicotine-level.can-choose .subblock-title .green {
  color: #12bf0f;
}
#step1 .main-block .nicotine-level .title-wrap .subblock-title .indent {
  margin-left: 20px;
}
#step1 .main-block .nicotine-level .title-wrap .notice {
  display: inline-block;
  font-size: 13px;
  margin-left: 20px;
  margin-top: 15px;
}
#step1 .main-block .nicotine-level .content-wrap {
  width: 100%;
}
#step1
  .main-block
  .nicotine-level
  .content-wrap
  .subblock-content
  .nicotine-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}
#step1
  .main-block
  .nicotine-level
  .content-wrap
  .subblock-content
  .nicotine-wrap
  .nicotine-item {
  flex-basis: calc(100% / 3);
}
#step1
  .main-block
  .nicotine-level
  .content-wrap
  .subblock-content
  .nicotine-wrap
  .nicotine-item
  .choose {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#step1
  .main-block
  .nicotine-level
  .content-wrap
  .subblock-content
  .nicotine-wrap
  .nicotine-item
  .choose.selected {
  background-color: #12bf0f;
  border: 1px solid #12bf0f;
  box-shadow: 0 5px 10px 0 rgb(18 191 15 / 50%);
}
#step1
  .main-block
  .nicotine-level
  .content-wrap
  .subblock-content
  .nicotine-wrap
  .nicotine-item
  .choose
  .info
  .value {
  color: #2d2e2e;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 600;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#step1
  .main-block
  .nicotine-level
  .content-wrap
  .subblock-content
  .nicotine-wrap
  .nicotine-item
  .choose
  .info
  .text {
  color: #2d2e2e;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#step1
  .main-block
  .nicotine-level
  .content-wrap
  .subblock-content
  .nicotine-wrap
  .nicotine-item
  .choose.selected
  .info
  .value,
#step1
  .main-block
  .nicotine-level
  .content-wrap
  .subblock-content
  .nicotine-wrap
  .nicotine-item
  .choose.selected
  .info
  .text {
  color: #fff;
}
#step1 .main-block .actions {
  margin-top: 70px;
  padding-right: 10px;
  text-align: right;
}
.actions .next-step-btn {
  display: inline-flex;
  align-items: center;
  background-color: #12bf0f;
  border: none;
  box-shadow: 0 5px 10px 0 rgb(18 191 15 / 50%);
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#step1 .main-block .actions .next-step-btn:disabled {
  background-color: #d0d0d0;
  box-shadow: none;
  cursor: not-allowed;
}
.actions .next-step-btn .icon {
  font-size: 22px;
  line-height: 20px;
  margin-left: 40px;
}

/* step 2 */

#step2 .warning-block {
  display: flex;
  align-items: center;
}
#step2 .warning-block .icon {
  background-color: #ffe52d;
  border: 1px solid #2d2e2e;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
#step2 .warning-block .text {
  font-size: 13px;
  line-height: 18px;
  margin-left: 10px;
  max-width: calc(100% - 40px);
}
#step2 .or {
  color: #2d2e2e;
  display: inline-block;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  margin-top: 75px;
}
#step2 .code-wrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#step2 .code-wrap .code-form {
  display: flex;
}
#step2 .code-wrap .code-form .button {
  background-color: #12bf0f;
  border: none;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  margin-left: -2px;
  padding: 6px 20px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#step2 .code-wrap .code-form .input-text {
  height: 40px;
  font-size: 12px;
  padding: 6px 45px 6px 25px;
}
#step2 .code-wrap .wblink {
  margin-left: 70px;
}
#step2 .code-wrap .wblink .custom_popup {
  display: flex;
  align-items: center;
  color: #12bf0f;
}
#step2 .code-wrap .wblink .custom_popup i {
  font-size: 20px;
}
#step2 .code-wrap .wblink .custom_popup .text {
  display: inline-block;
  margin-left: 20px;
}
#step2 .new-mix-wrap {
  margin-top: 60px;
}
#step2 .new-mix-wrap .flavors-grade .procents {
  height: 20px;
  margin-bottom: 0;
  margin-left: 270px;
  position: relative;
}
#step2 .new-mix-wrap .flavors-grade .procents li {
  font-size: 13px;
  list-style-type: none;
  position: absolute;
}
#step2 .new-mix-wrap .flavors-grade .procents li.zero {
  left: 0;
}
#step2 .new-mix-wrap .flavors-grade .procents li.ten {
  left: calc(10% - 15px);
}
#step2 .new-mix-wrap .flavors-grade .procents li.twenty {
  left: calc(20% - 15px);
}
#step2 .new-mix-wrap .flavors-grade .procents li.thirty {
  left: calc(30% - 15px);
}
#step2 .new-mix-wrap .flavors-grade .procents li.forty {
  left: calc(40% - 15px);
}
#step2 .new-mix-wrap .flavors-grade .procents li.fifty {
  left: calc(50% - 15px);
}
#step2 .new-mix-wrap .flavors-grade .procents li.sixty {
  left: calc(60% - 15px);
}
#step2 .new-mix-wrap .flavors-grade .procents li.seventy {
  left: calc(70% - 15px);
}
#step2 .new-mix-wrap .flavors-grade .procents li.eighty {
  left: calc(80% - 15px);
}
#step2 .new-mix-wrap .flavors-grade .procents li.ninety {
  left: calc(90% - 15px);
}
#step2 .new-mix-wrap .flavors-grade .procents li.hundred {
  left: calc(100% - 15px);
}
.new-mix-wrap .new-mix {
  clear: both;
  margin-top: 20px;
  position: relative;
}
.new-mix-wrap .new-mix .mix-form .wrap .slide-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;
}
.new-mix-wrap .new-mix .mix-form .wrap .slide-bg .flavor-select-w {
  position: relative;
}
.new-mix-wrap
  .new-mix
  .mix-form
  .wrap
  .slide-bg
  .flavor-select-w
  .flavor-select {
  border: none;
  color: #818385;
  padding-left: 0;
  padding-right: 30px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.new-mix-wrap .new-mix .mix-form .wrap .slide-bg select {
  width: 31%;
  border: none;
  color: #818385;
  padding-left: 0;
  padding-right: 30px;
  margin-right: 40px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.new-mix-wrap .new-mix .mix-form .wrap .slide-bg select:focus {
  outline: none;
  box-shadow: none;
}
.new-mix-wrap .new-mix .mix-form .wrap .slide-bg .validation-advice {
  position: absolute;
  top: 30px;
  left: 2px;
}
.new-mix-wrap .new-mix .mix-form .wrap .slide-bg .ui-slider {
  width: 69%;
  position: relative;
  height: 5px;
  background-color: #e6e6e6;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}
.new-mix-wrap .new-mix .mix-form .wrap .slide-bg .ui-slider-range {
  background-color: #12bf0f;
  border: 0;
  border-radius: 3px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}
.new-mix-wrap .new-mix .mix-form .wrap .slide-bg .ui-slider-handle {
  background-color: #12bf0f;
  border: 10px solid #d2f2d2;
  border-radius: 50%;
  -webkit-box-sizing: unset;
  box-sizing: unset;
  margin-left: -20px;
  outline: 0;
  position: absolute;
  top: -14px;
  z-index: 2;
  width: 10px;
  height: 10px;
}
.new-mix-wrap .new-mix .mix-form .wrap .slide-bg .ui-slider .ui-slider-handle {
  display: none;
}
.new-mix-wrap
  .new-mix
  .mix-form
  .wrap
  .slide-bg
  .ui-slider
  .ui-slider-handle:last-child {
  display: block;
}
.new-mix-wrap .new-mix .mix-form .wrap .slide-bg .ui-slider-handle::before {
  content: "";
}
.new-mix-wrap .new-mix .mix-form .wrap .slide-bg .ui-slider b {
  display: none;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  color: #12bf0f;
  font-size: 14px;
  height: auto;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: -49px;
  left: -16px;
  font-weight: 400;
  width: auto;
  z-index: 999;
}
.new-mix-wrap .new-mix .mix-form .wrap .slide-bg .ui-slider b::before {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #d0d0d0;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}
.new-mix-wrap .new-mix .mix-form .wrap .slide-bg .ui-state-active b {
  display: block;
}
.left-50 {
  left: 50% !important;
}
#step2 .bottle-img {
  margin: -50px auto 0;
  position: relative;
  width: 140px;
}
#step2 .bottle-img img {
  width: 100%;
}
.opacity0 {
  opacity: 0;
}
#step2 .bottle-img .full {
  background-image: url(https://www.migvapor.com/skin/frontend/intenso/custom/images/vimanna/bottle-full.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%;
}
#step2 .bottle-img .full-bottle {
  background-image: url(https://www.migvapor.com/skin/frontend/intenso/custom/images/vimanna/mix-juice-full-bottle.png);
  height: 400px !important;
}
#step2 .bottle-img .full-bottle + .free {
  opacity: 0;
}
.validation-advice {
  color: #fd421b;
  font-size: 15px;
  display: none;
}
/* step3 */

#step3 .congr {
  text-align: center;
}
#step3 .congr .title {
  color: #2d2e2e;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
}
#step3 .congr .desc {
  color: #2d2e2e;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}
#step3 .img-box {
  margin-top: 40px;
}
#step3 .img-box .vimanna-product {
  text-align: center;
}
#step3 .nameh1 {
  color: #2d2e2e;
  font-family: Roboto;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 28px;
  line-height: 40px;
}
#step3 .product_info {
  margin-top: 40px;
}
#step3 .product_info .product_addtocart_form .product-rating-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #d0d0d0;
  margin: 20px 0;
  padding-bottom: 10px;
}
#step3
  .product_info
  .product_addtocart_form
  .product-rating-block
  .product-rating-wrapper {
  display: flex;
  align-items: center;
}
#step3
  .product_info
  .product_addtocart_form
  .product-rating-block
  .product-rating-wrapper
  .product-rating-container {
  margin-right: 10px;
}
.product-rating-container {
  display: inline-block;
  height: 16px;
  left: 0;
  line-height: 1;
  opacity: 1;
  position: relative;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 70px;
}
.product-rating-container:before {
  color: #e5e5e5;
  position: absolute;
  top: 3px;
  left: 0;
  font-family: "Font Awesome 5 Free";
  content: "" "" "" "" "";
  font-size: 12px;
  height: 16px;
}
.product-rating:before {
  color: #f6bb42;
  position: absolute;
  top: 3px;
  left: 0;
  font-family: "Font Awesome 5 Free";
  content: "" "" "" "" "";
  font-size: 12px;
  height: 16px;
}
#step3
  .product_info
  .product_addtocart_form
  .product-rating-block
  .rating-link {
  color: #818385;
  font-size: 13px;
}
#step3
  .product_info
  .product_addtocart_form
  .product-rating-block
  .rating-link.bordered {
  border-left: 1px dotted #d0d0d0;
  margin-left: 20px;
  padding: 0 20px;
}
#step3 .product_info .product_addtocart_form .mix-info {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
#step3 .product_info .product_addtocart_form .mix-info .recipe-code {
  display: flex;
  flex-direction: column;
  height: 62px;
}
#step3 .product_info .product_addtocart_form .mix-info .recipe-code .title {
  font-size: 13px;
}
#step3 .product_info .product_addtocart_form .mix-info .recipe-code .mix-code {
  color: #2d2e2e;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
}
#step3 .product_info .product_addtocart_form .mix-info .options-inform {
  display: flex;
}
#step3 .product_info .product_addtocart_form .mix-info .options-inform .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
  height: 62px;
}
#step3
  .product_info
  .product_addtocart_form
  .mix-info
  .options-inform
  .item
  .title {
  font-size: 13px;
  white-space: nowrap;
}
#step3
  .product_info
  .product_addtocart_form
  .mix-info
  .options-inform
  .item
  .value {
  color: #2d2e2e;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
}
#step3
  .product_info
  .product_addtocart_form
  .mix-info
  .options-inform
  .item:last-of-type {
  margin-right: 0;
}
#step3 .product_info .product_addtocart_form .author-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
#step3 .product_info .product_addtocart_form .author-info .bottle-desc {
  flex-basis: calc(50% - 15px);
  padding: 12px 25px;
  height: auto;
  font-size: 12px;
}
#step3
  .product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper {
  border-bottom: 1px solid #d0d0d0;
  margin-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
#step3
  .product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions-info {
  display: flex;
  justify-content: space-between;
}
#step3
  .product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions-info
  .product-subscriptions-title {
  color: #2d2e2e;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}
#step3
  .product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions-info
  .product-subscriptions-title:before {
  color: #f94f2a;
  content: "\f2f1";
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
}
.product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions-info
  .subscription-product-popup {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  width: 100%;
  z-index: 10000;
}
#step3
  .product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions-info
  .subscription-help-url {
  color: #818385;
  font-size: 13px;
  cursor: pointer;
}
#step3
  .product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 5px;
  width: 100%;
  padding-left: 0;
}
#step3
  .product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions
  li {
  flex: 1 1 0;
  margin-right: -1px;
}
#step3
  .product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions
  li
  input[type="radio"] {
  display: none;
}
.product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions
  li
  .label {
  border: 1px solid #d0d0d0;
  display: block;
  padding: 0;
  text-align: center;
  width: 100%;
}
.product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions
  li:first-of-type
  .label {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions
  li
  input[type="radio"]:checked
  + .label {
  background-color: #fff3f0;
  border-color: #f94f2a;
  z-index: 1;
}
.product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions
  li
  input[type="radio"]:checked
  + .label
  label {
  color: #f94f2a;
}
.product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions
  li
  .label
  label {
  color: #2d2e2e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 12px 0;
  text-transform: uppercase;
  width: 100%;
}
.product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions
  li:last-of-type
  .label {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.label {
  font-size: 13px;
  text-transform: uppercase;
  padding: 4px 14px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
  position: relative;
}
.product_info .product_addtocart_form .price-box {
  display: inline-flex;
  margin-top: 30px;
}
.product_info .product_addtocart_form .price-box .regular-price .price {
  color: #2d2e2e;
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
}
.product_info .product_addtocart_form .rewardpoints-product-view-earning {
  color: #2d2e2e;
  display: inline-block;
  float: right;
  margin-top: 35px;
}
.product_info .product_addtocart_form .product-options dl,
.product_info .product_addtocart_form .product-options dd {
  margin-bottom: 0;
}
.product_info
  .product_addtocart_form
  .rewardpoints-product-view-earning
  .price-rwd {
  color: #f94f2a;
  font-weight: 600;
}
.product_info
  .product_addtocart_form
  .rewardpoints-product-view-earning
  .reward-more-link {
  color: #d0d0d0;
  font-size: 13px;
}
.product_info .product_addtocart_form .buybox {
  margin-top: 30px;
}
.product_info .product_addtocart_form .buybox .add-to-cart .qty-wrapper {
  display: flex;
  margin-right: 40px;
}
.product_info
  .product_addtocart_form
  .buybox
  .add-to-cart
  .qty-wrapper
  .qty-input {
  border-radius: 4px 0 0 4px;
  padding: 0;
  text-align: center;
  width: 50px;
  height: 50px;
}
.product_info
  .product_addtocart_form
  .buybox
  .add-to-cart
  .qty-wrapper
  .qty-plus-minus-wrapper
  .qty-plus-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d0d0d0;
  border-bottom: none;
  border-top-right-radius: 4px;
  cursor: pointer;
  margin-left: -1px;
  width: 25px;
  height: 25px;
}
.product_info
  .product_addtocart_form
  .buybox
  .add-to-cart
  .qty-wrapper
  .qty-plus-minus-wrapper
  .qty-minus-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d0d0d0;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  margin-left: -1px;
  width: 25px;
  height: 25px;
}
.product_info .product_addtocart_form .buybox .add-to-cart .qty-button-wrap {
  width: 100%;
}
.product_info
  .product_addtocart_form
  .buybox
  .add-to-cart
  .qty-button-wrap
  .btn-cart {
  padding: 10px;
  width: 100%;
}
.product_info .btn-primary {
  color: #fff;
  background-color: #12bf0f;
  border: none;
  border-color: #12bf0f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px 174px;
  font-size: 18px;
  line-height: 1.71;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
}
.product_info .product_addtocart_form .buybox .add-to-cart {
  display: flex;
}
.actions .prev-step-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #12bf0f;
  border: none;
  color: #fff;
  font-size: 18px;
  left: 0;
  position: absolute;
  top: 20px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  width: 50px;
  height: 50px;
}
.product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions-info
  .subscription-product-popup.visible {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions-info
  .subscription-product-popup
  .subscription-product-message {
  background-color: #fff;
  color: #2d2e2e;
  max-width: 1000px;
  padding: 60px;
  position: relative;
  font-size: 15px;
}
.product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions-info
  .subscription-product-popup
  .subscription-product-message
  .subscription-product-list {
  list-style-type: none;
  padding-left: 0;
}
.product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions-info
  .subscription-product-popup
  .subscription-product-message
  p
  a {
  color: #12bf0f;
}
.product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions-info
  .subscription-product-popup
  .subscription-product-message
  .actions {
  text-align: center;
}
.btn-primary.short {
  padding: 10px 54px;
  font-size: 18px;
  line-height: 1.71;
  border-radius: 5px;
}
.product_info
  .product_addtocart_form
  .product-options
  dl
  .product-subscriptions-wrapper
  .product-subscriptions-info
  .subscription-product-popup
  .subscription-product-message
  .close-subscription-popup {
  color: #d0d0d0;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

@media (max-width: 1439px) {
  #step1 .main-block.first {
    border-right: 0;
  }
}

@media (max-width: 1439px) {
  #step1 .main-block .vg-level {
    flex-direction: column;
    padding-left: 0;
  }
  #step1 .main-block .vg-level .title-wrap {
    flex: 0;
  }
  #step1 .main-block .vg-level .content-wrap {
    margin-top: 40px;
  }
  #step1 .main-block .vg-level .content-wrap .subblock-content .vg-wrap {
    margin-left: 0;
  }
  #step1 .main-block .nicotine-level {
    flex-direction: column;
    margin-top: 40px;
    padding-left: 0;
  }
  #step1 .main-block .nicotine-level .title-wrap {
    flex: 0;
  }
  #step1
    .main-block
    .nicotine-level
    .content-wrap
    .subblock-content
    .nicotine-wrap {
    margin-left: 0;
    margin-top: 40px;
  }
  #step1 .main-block .bottle-size .subblock-content .size-wrap {
    padding-right: 30px;
  }
}
@media (max-width: 1024px) {
  #step1 .main-block {
    margin-top: 30px;
  }
  #step1 .main-block .vg-level {
    flex-direction: column;
    border-top: 1px solid #d0d0d0;
    padding-left: 0;
    padding-top: 30px;
  }
  .migvapor-step-container .wizard {
    padding: 50px 15px;
  }
}
@media (max-width: 1023px) {
  #step2 .bottle-img {
    margin: 20px auto 0;
  }
}
@media (max-width: 990px) {
  #step2 .title {
    margin-top: 45px;
    font-size: 24px;
  }
  #step2 .block-title .subtitle {
    margin-top: 10px;
  }
  #step2 .or {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0;
  }
  #step1 .main-block .bottle-size .subblock-content .size-wrap {
    padding-right: 0;
  }
  #step1 .main-block .actions {
    margin-bottom: 20px;
    margin-top: 10px;
    padding-right: 0;
  }
  .actions .next-step-btn {
    justify-content: center;
    width: 100%;
  }
  #step3 .product_info .product_addtocart_form .mix-info {
    flex-direction: column;
  }
  #step3 .product_info .product_addtocart_form .mix-info .options-inform {
    margin-top: 20px;
  }
  #step3 .product_info .product_addtocart_form .author-info {
    flex-direction: column;
    order: 5;
    margin-top: 20px;
  }
  #step3
    .product_info
    .product_addtocart_form
    .author-info
    .bottle-desc:last-of-type {
    margin-top: 10px;
  }
  #step3
    .product_info
    .product_addtocart_form
    .product-options
    dl
    .product-subscriptions-wrapper
    .product-subscriptions {
    flex-wrap: wrap;
  }
  #step3
    .product_info
    .product_addtocart_form
    .product-options
    dl
    .product-subscriptions-wrapper
    .product-subscriptions
    li {
    flex-basis: 50%;
  }
  #step3
    .product_info
    .product_addtocart_form
    .product-options
    dl
    .product-subscriptions-wrapper
    .product-subscriptions-info
    .subscription-help-url {
    display: none;
  }
  #step3 .product_info .product_addtocart_form .price-box {
    order: 0;
    margin-top: 20px;
  }
  #step3
    .product_info
    .product_addtocart_form
    .rewardpoints-product-view-earning {
    order: 1;
    margin-top: 0;
  }
  #step3 .product_info h1 {
    font-size: 24px;
    margin-top: 20px;
    order: 2;
  }
  #step3 .product_info .product_addtocart_form .product-rating-block {
    order: 3;
    margin: 0 0 20px;
  }
  #step3 .product_info .product_addtocart_form .mix-info {
    flex-direction: column;
    order: 4;
  }
  #step3 .product_info .product_addtocart_form .product-options {
    order: 6;
  }
  #step3 .product_info .product_addtocart_form .buybox {
    order: 8;
  }
  #step3 .product_info .product_addtocart_form {
    display: flex;
    flex-direction: column;
  }
  #step3 .congr {
    margin-top: 50px;
  }

  #step2 .warning-block {
    margin-top: 20px;
  }
  #step2 .code-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  #step2 .code-wrap .code-form {
    width: 100%;
  }
  #step2 .code-wrap .wblink {
    margin-left: 0;
    margin-top: 10px;
  }
  #step2 .bottle-img {
    margin: 40px auto 0;
    text-align: center;
  }
  #step2 .new-mix-wrap .flavors-grade .procents {
    display: none;
  }
  .new-mix-wrap .new-mix .mix-form .wrap .slide-bg {
    flex-direction: column;
  }
  .new-mix-wrap .new-mix .mix-form .wrap .slide-bg select {
    width: 100%;
    margin-right: 0;
  }
  .new-mix-wrap .new-mix .mix-form .wrap .slide-bg .ui-slider {
    width: calc(100% - 40px);
    margin-top: 25px;
  }
}
